.card{
    height: max-content;
    width: 600px;
    border: 2px solid black;
    margin: .5rem;
    img{
        width: 100%;
        height: 400px;
    }
    div h2,
    div p{
        padding: .5rem;
        display: flex;
        justify-content: space-between;
    }
}
.btn{
    padding: .5rem 1rem;
    color: white;
    background-color: yellowgreen;
    border: none;
    
}
.btn:hover{
    background-color: rgb(97, 131, 29);
}
.btn:active{
    transform: scale(0.95);
}

.is_avaliable{
    background-color: green;
    padding: .3rem .6rem;
    border-radius: 10px;
}

.not_avaliable{
    background-color: red;
    padding: .3rem .6rem;
    border-radius: 10px;

}